<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>

	<appSettings>
		<add key ="VERSION" value="0.1α"/>
		
		<add key="eye" value= "haarcascade_eye.xml" />
		<add key="eye tree eyeglasses" value= "haarcascade_eye_tree_eyeglasses.xml" />
		<add key="frontalcatface" value= "haarcascade_frontalcatface.xml" />
		<add key="frontalcatface extended" value= "haarcascade_frontalcatface_extended.xml" />
		<add key="frontalface alt" value= "haarcascade_frontalface_alt.xml" />
		<add key="frontalface alt2" value= "haarcascade_frontalface_alt2.xml" />
		<add key="frontalface alt tree" value= "haarcascade_frontalface_alt_tree.xml" />
		<add key="frontalface default" value= "haarcascade_frontalface_default.xml" />
		<add key="fullbody" value= "haarcascade_fullbody.xml" />
		<add key="lefteye 2splits" value= "haarcascade_lefteye_2splits.xml" />
		<add key="licence plate rus 16stages" value= "haarcascade_licence_plate_rus_16stages.xml" />
		<add key="lowerbody" value= "haarcascade_lowerbody.xml" />
		<add key="profileface" value= "haarcascade_profileface.xml" />
		<add key="righteye 2splits" value= "haarcascade_righteye_2splits.xml" />
		<add key="russian plate number" value= "haarcascade_russian_plate_number.xml" />
		<add key="smile" value= "haarcascade_smile.xml" />
		<add key="lbp_upperbody" value= "haarcascade_upperbody.xml" />
		<add key="lbp_frontalcatface" value= "lbpcascade_frontalcatface.xml" />
		<add key="lbp_frontalface" value= "lbpcascade_frontalface.xml" />
		<add key="lbp_frontalface_improved" value= "lbpcascade_frontalface_improved.xml" />
		<add key="lbp_profileface" value= "lbpcascade_profileface.xml" />
		<add key="lbp_silverware" value= "lbpcascade_silverware.xml" />
		
			<add key="harr_dir" value= "lib\haarlike_cascade" />
			<add key="lbp_dir" value= "lib\lbp_cascade" />

	</appSettings>
</configuration>